[Unit]
Description=myir-hmi service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'pkill -9 psplash; /usr/sbin/mxapp2'

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
