[Unit]
Description=MYiR MEasyAgingtest Service
After=network.target

[Service]
Type=froking
ExecStart=/usr/share/myir_testunit/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
