[Unit]
Description=myir-lvgl service
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'pkill -9 psplash || true'
ExecStart=/bin/sh -c '/usr/sbin/lvgl_demo'

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
