[Unit]
Description=se050 and wifi driver
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/bin/sh /usr/bin/app.sh

[Install]
WantedBy=multi-user.target
