[Unit]
Description=auto run script
After=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/auto-run.sh


[Install]
WantedBy=multi-user.target
